<script>
    $(function() {
        $('#DomainDiv').hide();
        $('#UsernameDiv').hide();
        $('#PasswordDiv').hide();
        $('#PrivateKeyFileDiv').hide();
        $('#PrivateKeyPassphraseDiv').hide();
        $('#StoreNewCredential').hide();
        $('#IsDefaultCredentialDiv').hide();
        $('#Type').change(function(){
            var credentialype = this.value;
            if (credentialype == "Please select a credential type..") {
                $('#DomainDiv').hide();
                $('#UsernameDiv').hide();
                $('#PasswordDiv').hide();
                $('#PrivateKeyFileDiv').hide();
                $('#PrivateKeyPassphraseDiv').hide();
                $('#StoreNewCredential').hide();
                $('#IsDefaultCredentialDiv').hide();
            } else if (credentialype == "Windows Credentials") {
                $('#DomainDiv').show();
                $('#UsernameDiv').show();
                $('#PasswordDiv').show();
                $('#PrivateKeyFileDiv').hide();
                $('#PrivateKeyPassphraseDiv').hide();
                $('#StoreNewCredential').show();
                $('#IsDefaultCredentialDiv').show();
            } else if (credentialype == "Linux/Unix Credentials") {
                $('#DomainDiv').hide();
                $('#UsernameDiv').show();
                $('#PasswordDiv').show();
                $('#PrivateKeyFileDiv').hide();
                $('#PrivateKeyPassphraseDiv').hide();
                $('#StoreNewCredential').show();
                $('#IsDefaultCredentialDiv').show();
            } else if (credentialype == "Linux/Unix Private Key file") {
                $('#DomainDiv').hide();
                $('#UsernameDiv').show();
                $('#PasswordDiv').hide();
                $('#PrivateKeyFileDiv').show();
                $('#PrivateKeyPassphraseDiv').hide();
                $('#StoreNewCredential').show();
                $('#IsDefaultCredentialDiv').show();
            } else {
                $('#DomainDiv').hide();
                $('#UsernameDiv').show();
                $('#PasswordDiv').hide();
                $('#PrivateKeyFileDiv').show();
                $('#PrivateKeyPassphraseDiv').show();
                $('#StoreNewCredential').show();
                $('#IsDefaultCredentialDiv').show();
            }
        });
        // Deal with the text box for the upload
        $(document).on('change', ':file', function() {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });
        $(document).ready( function() {
            $(':file').on('fileselect', function(event, numFiles, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = numFiles > 1 ? numFiles + ' files selected' : label;

                if( input.length ) {
                    input.val(log);
                    $(':input[id="UploadCsv"]').prop('disabled', false);
                } else {
                    $(':input[id="UploadCsv"]').prop('disabled', true);
                    if( log ) alert(log);
                }

            });
        });
    });
</script>
<br />
<h2>Credentials</h2>
<br />
<h4>To add a new credential, first select the credential type from the drop down below then populate the required values.</h4>
<br />
<form method="post" enctype="multipart/form-data" asp-controller="Audit" asp-action="UploadCredential">
	<fieldset>
        <div class="row">
            <div class="col-lg-9">
                <div class="form-group">
                    <label for="Type">Credential Type</label>
                    <select class="form-control" name="Type" id="Type">
                        <option>Please select a credential type..</option>
                        <option>Windows Credentials</option>
                        <option>Linux/Unix Credentials</option>
                        <option>Linux/Unix Private Key file</option>
                        <option>Linux/Unix Private Key file with Passphrase</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3" id="DomainDiv">
                <div class="form-group">
                    <label for="Domain">Domain</label>
                    <input type="text" class="form-control" name="Domain" id="Domain" placeholder="e.g. DOMAIN or NETBIOSNAME">
                </div>
            </div>
            <div class="col-lg-3" id="UsernameDiv">
                <div class="form-group">
                    <label for="Username">Username</label>
                    <input type="text" class="form-control" name="Username" id="Username" placeholder="e.g. Joe.bloggs">
                </div>
            </div>
            <div class="col-lg-3" id="PasswordDiv">  
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" class="form-control" name="Password" id="Password" placeholder="Password">
                </div>
            </div>
            <div class="col-lg-3" id="PrivateKeyFileDiv">
                <div class="form-group">
                    <label>Private Key file</label>
                    <div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn btn-primary">
                                Browse&hellip; <input type="file" name="PrivateKeyFile" style="display: none;">
                            </span>
                        </label>
                        <input type="text" class="form-control" readonly>
                    </div>
                </div>
            </div>
            <div class="col-lg-3" id="PrivateKeyPassphraseDiv">
                <div class="form-group">
                    <label for="PrivateKeyPassphrase">Private Key Passphrase</label>
                    <input type="password" class="form-control" name="PrivateKeyPassphrase" id="PrivateKeyPassphrase" placeholder="Passphrase">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 form-check" id="IsDefaultCredentialDiv">
                <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="IsDefault" id="IsDefault" value="true">
                &nbsp; Make this the default credential of its type
                </label>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-9" id="StoreNewCredential">
                <button type="submit" class="btn btn-success">Save Credential</button>
            </div>
        </div>
	</fieldset>
</form>
<br />
<br />
<div class="row">
    <div class="col-lg-6">
        <h2>Currently Loaded Credentials</h2>
    </div>
    <div class="col-lg-6" style="padding-top: 20px;">
         <a class="btn btn-danger float-right" asp-controller="Audit" asp-action="ClearCredentials" role="button">Clear Credentials</a>
    </div>
</div>
<br />
<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">CredentialID</th>
            <th scope="col">Type</th>
			<th scope="col">Domain</th>
			<th scope="col">Username</th>
			<th scope="col">Default</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var c in @Model)
		{
			<tr class="table-active">
				<th scope="row">@c.ID</th>
				<td>@c.Type</td>
				<td>@c.Domain</td>
				<td>@c.Username</td>
				<td>@if (@c.IsDefault){<text><span class="glyphicon glyphicon-check"></span></text>}</td>
			</tr>
		}
	</tbody>
</table> 